.case-3-wrapper {
	padding: 5px;
	width: 580px;
    max-height: 100%;
    float: left;
    height: 100%;

	.wrapper-case {
		width: 100%;
		border: 1px solid $color_gl;
		@include border-radius(4px);
		background: white url('~/assets/images/common/chat_bg.jpg') repeat center top;
		box-shadow: 1px 0px 2px 0px rgba(0,0,0,.12);
		max-height: 100%;
	    height: inherit;
	}

	#case-3-scroll-wrapper {
	    border-top: 1px solid #CDCDCD;
		max-height: calc(100% - 135px);
		@include transition(all 0.4s);
	}

	@import './header-userInfo.scss';
	@import './messages-container.scss';
	@import './chat-footer.scss';
}
